@import url('https://fonts.googleapis.com/css?family=Roboto:regular,bold,medium&subset=latin,latin-ext');

html,body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}
#root{
    height: 100%;
}
#root > div{
    height: 100%;
}
::-webkit-scrollbar {
    display: none;
}

